.container{
  diplay: flex;
  flex-direction: column;
  height: 100vh;
}
.header{
  flex: 20%
  background: lightgray;
}
.menu{
  flex: 5%
  background: darkgray;
  display: flex;
  align-items: center;
} 
.menu a{
  padding: 15px 20px;
  color: pink;
}
.menu hover{
  background-color: lightgray;
  color: black;
}
.content{
  flex: 70%
  background: white;
}
.content ifrane{
  flex: 1;
  border: none;
  width: 100%;
  height: 100%;
}
.footer{
 flex: 5%
 background: darkgray;
}

h1 {
  color: red;
}
.title {
  color: tomato;
  font-weight: bold;
  font-sized: 20pt;
}
.content {
  color: black;
  font-style: normal;
  font-sized: 14pt;
}
